{% extends "core/base_admin.html" %}
{% block contenido %}
<a href="{% url 'estudiante-nuevo' %}" class="btn btn-default navbar-btn">Agregar Estudiante</a>
<section class="panel green_border horizontal_border_2">
  <div class="block-web">
    <div class="header">
      <h3 class="content-header">Lista De Estudiantes {{b}}</h3>
    </div>
    <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>Id UCC </th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Facultad</th>
        <th>Semestre</th>
        <th>Horas</th>
        <th>Estado</th>
        <th>Modificar</th>
      </tr>
    </thead>
    <tbody>
      {% for i in a %}
      <tr>
        <td><a href="{% url "estudiante-detalle" i.Codigo_estudiante %}">{{i.Codigo_estudiante}}</a></td>
        <td>{{i}}</td>
        <td>{{i.apellidos}}</td>
        <td>{{i.facultad}}</td>
        <td>{{i.semestre}}</td>
        <td>{{i.Horas_estudiante}}</td>
        <td>{{i.Estado}}</td>
        <td><a href="{% url "estudiante-editar" i.Codigo_estudiante %}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
      </tr>
      {% endfor%}
    </tbody>
  </table>
  <div class="pagination">
    <span class="step-links">
        {% if a.has_previous %}
            <a href="?page={{ a.previous_page_number }}">Anterior</a>
        {% endif %}
        <span class="current">
            Pagina {{ a.number }} de {{ a.paginator.num_pages }}.
        </span>
        {% if a.has_next %}
            <a href="?page={{ a.next_page_number }}">Siguiente</a>
        {% endif %}
    </span>
</div>
  </div>
</section>

{% endblock %}
