{% extends "core/base.html" %}


{% block contenido %}

<div class="text-left">
  <h2>Añadir servicio</h2>
</div>
<hr/>

<form class="form-horizontal">

    <div class="form-group">
        <label class="control-label col-xs-3" >Nombre:</label>
        <div class="col-xs-3">
          <input type="tel" class="form-control">
        </div>
    </div>

    <br>
    <div class="form-group">
        <div class="col-xs-offset-3 col-xs-9">
            <input type="submit" class="btn btn-primary" value="Guardar">
            <input type="reset" class="btn btn-default" value="Limpiar">
        </div>
    </div>
</form>

{% endblock %}
