@charset "utf-8";
/* CSS Document */


@charset "UTF-8";
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
.animated.hinge {
    animation-duration: 2s;
}
@-moz-keyframes bounce {
0%, 20%, 50%, 80%, 100% {
    transform: translateY(0px);
}
40% {
    transform: translateY(-30px);
}
60% {
    transform: translateY(-15px);
}
}
.bounce {
    animation-name: bounce;
}
@-moz-keyframes flash {
0%, 50%, 100% {
    opacity: 1;
}
25%, 75% {
    opacity: 0;
}
}
.flash {
    animation-name: flash;
}
@-moz-keyframes pulse {
0% {
    transform: scale(1);
}
50% {
    transform: scale(1.1);
}
100% {
    transform: scale(1);
}
}
.pulse {
    animation-name: pulse;
}
@-moz-keyframes shake {
0%, 100% {
    transform: translateX(0px);
}
10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
}
20%, 40%, 60%, 80% {
    transform: translateX(10px);
}
}
.shake {
    animation-name: shake;
}
@-moz-keyframes swing {
20% {
    transform: rotate(15deg);
}
40% {
    transform: rotate(-10deg);
}
60% {
    transform: rotate(5deg);
}
80% {
    transform: rotate(-5deg);
}
100% {
    transform: rotate(0deg);
}
}
.swing {
    animation-name: swing;
    transform-origin: center top 0;
}
@-moz-keyframes tada {
0% {
    transform: scale(1);
}
10%, 20% {
    transform: scale(0.9) rotate(-3deg);
}
30%, 50%, 70%, 90% {
    transform: scale(1.1) rotate(3deg);
}
40%, 60%, 80% {
    transform: scale(1.1) rotate(-3deg);
}
100% {
    transform: scale(1) rotate(0deg);
}
}
.tada {
    animation-name: tada;
}
@-moz-keyframes wobble {
0% {
    transform: translateX(0%);
}
15% {
    transform: translateX(-25%) rotate(-5deg);
}
30% {
    transform: translateX(20%) rotate(3deg);
}
45% {
    transform: translateX(-15%) rotate(-3deg);
}
60% {
    transform: translateX(10%) rotate(2deg);
}
75% {
    transform: translateX(-5%) rotate(-1deg);
}
100% {
    transform: translateX(0%);
}
}
.wobble {
    animation-name: wobble;
}
@-moz-keyframes bounceIn {
0% {
    opacity: 0;
    transform: scale(0.3);
}
50% {
    opacity: 1;
    transform: scale(1.05);
}
70% {
    transform: scale(0.9);
}
100% {
    transform: scale(1);
}
}
.bounceIn {
    animation-name: bounceIn;
}
@-moz-keyframes bounceInDown {
0% {
    opacity: 0;
    transform: translateY(-2000px);
}
60% {
    opacity: 1;
    transform: translateY(30px);
}
80% {
    transform: translateY(-10px);
}
100% {
    transform: translateY(0px);
}
}
.bounceInDown {
    animation-name: bounceInDown;
}
@-moz-keyframes bounceInLeft {
0% {
    opacity: 0;
    transform: translateX(-2000px);
}
60% {
    opacity: 1;
    transform: translateX(30px);
}
80% {
    transform: translateX(-10px);
}
100% {
    transform: translateX(0px);
}
}
.bounceInLeft {
    animation-name: bounceInLeft;
}
@-moz-keyframes bounceInRight {
0% {
    opacity: 0;
    transform: translateX(2000px);
}
60% {
    opacity: 1;
    transform: translateX(-30px);
}
80% {
    transform: translateX(10px);
}
100% {
    transform: translateX(0px);
}
}
.bounceInRight {
    animation-name: bounceInRight;
}
@-moz-keyframes bounceInUp {
0% {
    opacity: 0;
    transform: translateY(2000px);
}
60% {
    opacity: 1;
    transform: translateY(-30px);
}
80% {
    transform: translateY(10px);
}
100% {
    transform: translateY(0px);
}
}
.bounceInUp {
    animation-name: bounceInUp;
}
@-moz-keyframes bounceOut {
0% {
    transform: scale(1);
}
25% {
    transform: scale(0.95);
}
50% {
    opacity: 1;
    transform: scale(1.1);
}
100% {
    opacity: 0;
    transform: scale(0.3);
}
}
.bounceOut {
    animation-name: bounceOut;
}
@-moz-keyframes bounceOutDown {
0% {
    transform: translateY(0px);
}
20% {
    opacity: 1;
    transform: translateY(-20px);
}
100% {
    opacity: 0;
    transform: translateY(2000px);
}
}
.bounceOutDown {
    animation-name: bounceOutDown;
}
@-moz-keyframes bounceOutLeft {
0% {
    transform: translateX(0px);
}
20% {
    opacity: 1;
    transform: translateX(20px);
}
100% {
    opacity: 0;
    transform: translateX(-2000px);
}
}
.bounceOutLeft {
    animation-name: bounceOutLeft;
}
@-moz-keyframes bounceOutRight {
0% {
    transform: translateX(0px);
}
20% {
    opacity: 1;
    transform: translateX(-20px);
}
100% {
    opacity: 0;
    transform: translateX(2000px);
}
}
.bounceOutRight {
    animation-name: bounceOutRight;
}
@-moz-keyframes bounceOutUp {
0% {
    transform: translateY(0px);
}
20% {
    opacity: 1;
    transform: translateY(20px);
}
100% {
    opacity: 0;
    transform: translateY(-2000px);
}
}
.bounceOutUp {
    animation-name: bounceOutUp;
}
@-moz-keyframes fadeIn {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
.fadeIn {
    animation-name: fadeIn;
}
@-moz-keyframes fadeInDown {
0% {
    opacity: 0;
    transform: translateY(-20px);
}
100% {
    opacity: 1;
    transform: translateY(0px);
}
}
.fadeInDown {
    animation-name: fadeInDown;
}
@-moz-keyframes fadeInDownBig {
0% {
    opacity: 0;
    transform: translateY(-2000px);
}
100% {
    opacity: 1;
    transform: translateY(0px);
}
}
.fadeInDownBig {
    animation-name: fadeInDownBig;
}
@-moz-keyframes fadeInLeft {
0% {
    opacity: 0;
    transform: translateX(-20px);
}
100% {
    opacity: 1;
    transform: translateX(0px);
}
}
.fadeInLeft {
    animation-name: fadeInLeft;
}
@-moz-keyframes fadeInLeftBig {
0% {
    opacity: 0;
    transform: translateX(-2000px);
}
100% {
    opacity: 1;
    transform: translateX(0px);
}
}
.fadeInLeftBig {
    animation-name: fadeInLeftBig;
}
@-moz-keyframes fadeInRight {
0% {
    opacity: 0;
    transform: translateX(20px);
}
100% {
    opacity: 1;
    transform: translateX(0px);
}
}
.fadeInRight {
    animation-name: fadeInRight;
}
@-moz-keyframes fadeInRightBig {
0% {
    opacity: 0;
    transform: translateX(2000px);
}
100% {
    opacity: 1;
    transform: translateX(0px);
}
}
.fadeInRightBig {
    animation-name: fadeInRightBig;
}
@-moz-keyframes fadeInUp {
0% {
    opacity: 0;
    transform: translateY(20px);
}
100% {
    opacity: 1;
    transform: translateY(0px);
}
}
.fadeInUp {
    animation-name: fadeInUp;
}
@-moz-keyframes fadeInUpBig {
0% {
    opacity: 0;
    transform: translateY(2000px);
}
100% {
    opacity: 1;
    transform: translateY(0px);
}
}
.fadeInUpBig {
    animation-name: fadeInUpBig;
}
@-moz-keyframes fadeOut {
0% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}
.fadeOut {
    animation-name: fadeOut;
}
@-moz-keyframes fadeOutDown {
0% {
    opacity: 1;
    transform: translateY(0px);
}
100% {
    opacity: 0;
    transform: translateY(20px);
}
}
.fadeOutDown {
    animation-name: fadeOutDown;
}
@-moz-keyframes fadeOutDownBig {
0% {
    opacity: 1;
    transform: translateY(0px);
}
100% {
    opacity: 0;
    transform: translateY(2000px);
}
}
.fadeOutDownBig {
    animation-name: fadeOutDownBig;
}
@-moz-keyframes fadeOutLeft {
0% {
    opacity: 1;
    transform: translateX(0px);
}
100% {
    opacity: 0;
    transform: translateX(-20px);
}
}
.fadeOutLeft {
    animation-name: fadeOutLeft;
}
@-moz-keyframes fadeOutLeftBig {
0% {
    opacity: 1;
    transform: translateX(0px);
}
100% {
    opacity: 0;
    transform: translateX(-2000px);
}
}
.fadeOutLeftBig {
    animation-name: fadeOutLeftBig;
}
@-moz-keyframes fadeOutRight {
0% {
    opacity: 1;
    transform: translateX(0px);
}
100% {
    opacity: 0;
    transform: translateX(20px);
}
}
.fadeOutRight {
    animation-name: fadeOutRight;
}
@-moz-keyframes fadeOutRightBig {
0% {
    opacity: 1;
    transform: translateX(0px);
}
100% {
    opacity: 0;
    transform: translateX(2000px);
}
}
.fadeOutRightBig {
    animation-name: fadeOutRightBig;
}
@-moz-keyframes fadeOutUp {
0% {
    opacity: 1;
    transform: translateY(0px);
}
100% {
    opacity: 0;
    transform: translateY(-20px);
}
}
.fadeOutUp {
    animation-name: fadeOutUp;
}
@-moz-keyframes fadeOutUpBig {
0% {
    opacity: 1;
    transform: translateY(0px);
}
100% {
    opacity: 0;
    transform: translateY(-2000px);
}
}
.fadeOutUpBig {
    animation-name: fadeOutUpBig;
}
@-moz-keyframes flip {
0% {
    transform: perspective(400px) translateZ(0px) rotateY(0deg) scale(1);
}
0%, 40% {
    animation-timing-function: ease-out;
}
40% {
    transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
}
50% {
    animation-timing-function: ease-in;
    transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
}
80% {
    transform: perspective(400px) translateZ(0px) rotateY(360deg) scale(0.95);
}
80%, 100% {
    animation-timing-function: ease-in;
}
100% {
    transform: perspective(400px) translateZ(0px) rotateY(360deg) scale(1);
}
}
.animated.flip {
    animation-name: flip;
    backface-visibility: visible;
}
@-moz-keyframes flipInX {
0% {
    opacity: 0;
    transform: perspective(400px) rotateX(90deg);
}
40% {
    transform: perspective(400px) rotateX(-10deg);
}
70% {
    transform: perspective(400px) rotateX(10deg);
}
100% {
    opacity: 1;
    transform: perspective(400px) rotateX(0deg);
}
}
.flipInX {
    animation-name: flipInX;
    backface-visibility: visible !important;
}
@-moz-keyframes flipInY {
0% {
    opacity: 0;
    transform: perspective(400px) rotateY(90deg);
}
40% {
    transform: perspective(400px) rotateY(-10deg);
}
70% {
    transform: perspective(400px) rotateY(10deg);
}
100% {
    opacity: 1;
    transform: perspective(400px) rotateY(0deg);
}
}
.flipInY {
    animation-name: flipInY;
    backface-visibility: visible !important;
}
@-moz-keyframes flipOutX {
0% {
    opacity: 1;
    transform: perspective(400px) rotateX(0deg);
}
100% {
    opacity: 0;
    transform: perspective(400px) rotateX(90deg);
}
}
.flipOutX {
    animation-name: flipOutX;
    backface-visibility: visible !important;
}
@-moz-keyframes flipOutY {
0% {
    opacity: 1;
    transform: perspective(400px) rotateY(0deg);
}
100% {
    opacity: 0;
    transform: perspective(400px) rotateY(90deg);
}
}
.flipOutY {
    animation-name: flipOutY;
    backface-visibility: visible !important;
}
@-moz-keyframes lightSpeedIn {
0% {
    opacity: 0;
    transform: translateX(100%) skewX(-30deg);
}
60% {
    opacity: 1;
    transform: translateX(-20%) skewX(30deg);
}
80% {
    opacity: 1;
    transform: translateX(0%) skewX(-15deg);
}
100% {
    opacity: 1;
    transform: translateX(0%) skewX(0deg);
}
}
.lightSpeedIn {
    animation-name: lightSpeedIn;
    animation-timing-function: ease-out;
}
@-moz-keyframes lightSpeedOut {
0% {
    opacity: 1;
    transform: translateX(0%) skewX(0deg);
}
100% {
    opacity: 0;
    transform: translateX(100%) skewX(-30deg);
}
}
.lightSpeedOut {
    animation-name: lightSpeedOut;
    animation-timing-function: ease-in;
}
@-moz-keyframes rotateIn {
0% {
    opacity: 0;
    transform: rotate(-200deg);
}
0%, 100% {
    transform-origin: center center 0;
}
100% {
    opacity: 1;
    transform: rotate(0deg);
}
}
.rotateIn {
    animation-name: rotateIn;
}
@-moz-keyframes rotateInDownLeft {
0% {
    opacity: 0;
    transform: rotate(-90deg);
}
0%, 100% {
    transform-origin: left bottom 0;
}
100% {
    opacity: 1;
    transform: rotate(0deg);
}
}
.rotateInDownLeft {
    animation-name: rotateInDownLeft;
}
@-moz-keyframes rotateInDownRight {
0% {
    opacity: 0;
    transform: rotate(90deg);
}
0%, 100% {
    transform-origin: right bottom 0;
}
100% {
    opacity: 1;
    transform: rotate(0deg);
}
}
.rotateInDownRight {
    animation-name: rotateInDownRight;
}
@-moz-keyframes rotateInUpLeft {
0% {
    opacity: 0;
    transform: rotate(90deg);
}
0%, 100% {
    transform-origin: left bottom 0;
}
100% {
    opacity: 1;
    transform: rotate(0deg);
}
}
.rotateInUpLeft {
    animation-name: rotateInUpLeft;
}
@-moz-keyframes rotateInUpRight {
0% {
    opacity: 0;
    transform: rotate(-90deg);
}
0%, 100% {
    transform-origin: right bottom 0;
}
100% {
    opacity: 1;
    transform: rotate(0deg);
}
}
.rotateInUpRight {
    animation-name: rotateInUpRight;
}
@-moz-keyframes rotateOut {
0% {
    opacity: 1;
    transform: rotate(0deg);
}
0%, 100% {
    transform-origin: center center 0;
}
100% {
    opacity: 0;
    transform: rotate(200deg);
}
}
.rotateOut {
    animation-name: rotateOut;
}
@-moz-keyframes rotateOutDownLeft {
0% {
    opacity: 1;
    transform: rotate(0deg);
}
0%, 100% {
    transform-origin: left bottom 0;
}
100% {
    opacity: 0;
    transform: rotate(90deg);
}
}
.rotateOutDownLeft {
    animation-name: rotateOutDownLeft;
}
@-moz-keyframes rotateOutDownRight {
0% {
    opacity: 1;
    transform: rotate(0deg);
}
0%, 100% {
    transform-origin: right bottom 0;
}
100% {
    opacity: 0;
    transform: rotate(-90deg);
}
}
.rotateOutDownRight {
    animation-name: rotateOutDownRight;
}
@-moz-keyframes rotateOutUpLeft {
0% {
    opacity: 1;
    transform: rotate(0deg);
}
0%, 100% {
    transform-origin: left bottom 0;
}
100% {
    opacity: 0;
    transform: rotate(-90deg);
}
}
.rotateOutUpLeft {
    animation-name: rotateOutUpLeft;
}
@-moz-keyframes rotateOutUpRight {
0% {
    opacity: 1;
    transform: rotate(0deg);
}
0%, 100% {
    transform-origin: right bottom 0;
}
100% {
    opacity: 0;
    transform: rotate(90deg);
}
}
.rotateOutUpRight {
    animation-name: rotateOutUpRight;
}
@-moz-keyframes slideInDown {
0% {
    opacity: 0;
    transform: translateY(-2000px);
}
100% {
    transform: translateY(0px);
}
}
.slideInDown {
    animation-name: slideInDown;
}
@-moz-keyframes slideInLeft {
0% {
    opacity: 0;
    transform: translateX(-2000px);
}
100% {
    transform: translateX(0px);
}
}
.slideInLeft {
    animation-name: slideInLeft;
}
@-moz-keyframes slideInRight {
0% {
    opacity: 0;
    transform: translateX(2000px);
}
100% {
    transform: translateX(0px);
}
}
.slideInRight {
    animation-name: slideInRight;
}
@-moz-keyframes slideOutLeft {
0% {
    transform: translateX(0px);
}
100% {
    opacity: 0;
    transform: translateX(-2000px);
}
}
.slideOutLeft {
    animation-name: slideOutLeft;
}
@-moz-keyframes slideOutRight {
0% {
    transform: translateX(0px);
}
100% {
    opacity: 0;
    transform: translateX(2000px);
}
}
.slideOutRight {
    animation-name: slideOutRight;
}
@-moz-keyframes slideOutUp {
0% {
    transform: translateY(0px);
}
100% {
    opacity: 0;
    transform: translateY(-2000px);
}
}
.slideOutUp {
    animation-name: slideOutUp;
}
@-moz-keyframes hinge {
0% {
    transform: rotate(0deg);
}
0%, 20%, 60% {
    animation-timing-function: ease-in-out;
    transform-origin: left top 0;
}
20%, 60% {
    transform: rotate(80deg);
}
40% {
    transform: rotate(60deg);
}
40%, 80% {
    animation-timing-function: ease-in-out;
    transform-origin: left top 0;
}
80% {
    opacity: 1;
    transform: rotate(60deg) translateY(0px);
}
100% {
    opacity: 0;
    transform: translateY(700px);
}
}
.hinge {
    animation-name: hinge;
}
@-moz-keyframes rollIn {
0% {
    opacity: 0;
    transform: translateX(-100%) rotate(-120deg);
}
100% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
}
}
.rollIn {
    animation-name: rollIn;
}
@-moz-keyframes rollOut {
0% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
}
100% {
    opacity: 0;
    transform: translateX(100%) rotate(120deg);
}
}
.rollOut {
    animation-name: rollOut;
}
