{% extends "core/base_admin.html" %}

{% block contenido %}

<section class="panel green_border horizontal_border_2">
  <div class="block-web">
    <div class="header">
      <h3 class="content-header">Nueva Programacion</h3>
    </div>
<form  action="" method="post">
  {% csrf_token %}
  <ul>Servicio </ul>
  <ul>{{form_programacion.Servicio}}</ul>
  <ul>Tipo De Participacion</ul>
  <ul>{{form_programacion.TipodeParticipacion}}</ul>
  <ul>Actividad</ul>
  <ul>{{form_programacion.actividad}}</ul>
  <ul>Profesor</ul>
  <ul>{{form_programacion.profesor}}</ul>
  <ul>Acividad</ul>
  <ul>{{form_programacion.lugarActividad}}</ul>
  <ul>Dias Semana</ul>
  <ul>{{form_programacion.Dia_semana}}</ul>
  <ul>Fecha Inicio</ul>
  <ul>{{form_programacion.Fecha_Inicio}}</ul>
  <ul>Fecha De Cierre</ul>
  <ul>{{form_programacion.Fecha_Final}}</ul>
  <ul>  <input class="btn btn-primary btn-lg" type="submit" name="name" value="Guardar">
    <a href="{% url "programacion-lista"%}" class="btn btn-default navbar-btn">Cancelar</a>
  </ul>
</form>
</div>
</section>
{% endblock %}
