{% extends "core/base.html" %}

{% block contenido %}

<h1> Agregar servicios </h1>

<br></br>

<table class="table table-inverse">
  <thead>
    <tr>
      <th>#</th>
      <th>Servicio</th>
      <th>Codigo del servicio</th>
      <th>Actividad</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
<br></br>
<button type="button" class="btn btn-primary btn-lg active">Agregar</button>
<button type="button" class="btn btn-default btn-lg active">Modificar</button>


{% endblock %}
