{% extends "core/base.html" %}

{% block contenido %}


<div class=" panel large-12 columns">
		<form  enctype='multipart/form-data' action='' method='POST'>
			<div class="row">
				<p style="text-align:center; color:gray;"> <em> Editar Actividad</em></p>
				<div class="  large-12 columns">
					{% csrf_token %}
					{{ form.non_field_errors }}
					<label > Servicio:
						{{ form.servicio }}
					</label>
					{% if form.servicio.errors %}
						{% for error in form.servicio.errors %}
							<small class="error">
								{{ error|escape }}
							</small>
						{% endfor %}
					{% endif %}
				</div>
				<div class="large-12 columns">
					<label > Tipo Actividad:
						{{ form.tipo_actividad}}
					</label>
					{% if form.tipo_actividad.errors %}
						{% for error in form.tipo_actividad.errors %}
							<small class="error">
								{{ error|escape }}
							</small>
						{% endfor %}
					{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns">
					<label> Estado Actividad:
						{{ form.Estado_actividad }}
					</label>
					{% if form.Estado_actividad.errors %}
						{% for error in form.Estado_actividad.errors %}
							<small class="error">
								{{ error|escape }}
							</small>
						{% endfor %}
					{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns">
					<label> Cupo Actividad:
						{{ form.Cupo_Actividad }}
					</label>
					{% if form.nit_id.errors.errors %}
						{% for error in form.Cupo_Actividad.errors %}
							<small class="error">
								{{ error|escape }}
							</small>
						{% endfor %}
					{% endif %}
				</div>
			</div>
			<br>
			<div class="large-12 columns">
				<input style="background-color:#7bac0f" class="button tiny " type='submit' value='Actualizar Actividad'/>
			</div>
		</form>
	</div>

{% endblock %}
