{% extends "core/base_admin.html" %}

{% block contenido %}
  <section class="panel green_border horizontal_border_2">
    <div class="block-web">
      <div class="header">
        <h3 class="content-header">Editar Actividad/ <b>{{a}}</b> </h3>
      </div>
        <form  action="" method="post">
          {% csrf_token %}
          {{ form.non_field_errors }}
        <ul><label > Codigo De Actividad:</label></ul>
        <ul>{{ form.Codigo_actividad}}</ul>
        {% if form.Codigo_actividad.errors %}
          {% for error in form.Codigo_actividad.errors %}
            <small class="error">
              {{ error|escape }}
            </small>
          {% endfor %}
        {% endif %}

        <ul><label > Servicio:</label></ul>
        <ul>{{ form.servicio}}</ul>
        {% if form.servicio.errors %}
          {% for error in form.servicio.errors %}
            <small class="error">
              {{ error|escape }}
            </small>
          {% endfor %}
        {% endif %}

        <ul><label > Tipos De Actividad:</label></ul>
        <ul>{{ form.tipo_actividad}}</ul>
        {% if form.tipo_actividad.errors %}
          {% for error in form.tipo_actividad.errors %}
            <small class="error">
              {{ error|escape }}
            </small>
          {% endfor %}
        {% endif %}

        <ul><label > Estado De Actividad:</label></ul>
        <ul>{{ form.Estado_actividad}}</ul>
        {% if form.Estado_actividad.errors %}
          {% for error in form.Estado_actividad.errors %}
            <small class="error">
              {{ error|escape }}
            </small>
          {% endfor %}
        {% endif %}

        <ul><label > Cupo De Actividad:</label></ul>
        <ul>{{ form.Cupo_Actividad}}</ul>
        {% if form.Cupo_Actividad.errors %}
          {% for error in form.Cupo_Actividad.errors %}
            <small class="error">
              {{ error|escape }}
            </small>
          {% endfor %}
        {% endif %}

            <ul><input type="submit" name="name" class="btn btn-primary" value="Guardar"></ul>
          </form>
  </div>
  </section>
{% endblock %}
