{% extends "core/base_admin.html" %}
{% block contenido %}
<div class="col-md-12">
          <div class="block-web">
            <div class="header">
              <h3 class="content-header">Detalle De La Actividad/ <b>{{b}}</b></h3>
            </div>
            <div class="porlets-content">
              <div style="float: right; margin-bottom: 10px">
                <label style="display: inline-block; margin-right: 50px">
              </div>
              <table id="user" class="table table-bordered table-striped" style="clear: both">
                <tbody>
                  <tr>
                    <td width="30%">Id Actividad</td>
                    <td width="65%"><a href="{% url "actividad-detalle" b.id %}">{{b.id}}</a></td>
                  </tr>
                  <tr>
                    <td>Codigo</td>
                    <td> {{b.Codigo_actividad}}</td>
                  </tr>
                  <tr>
                    <td>Servicio</td>
                    <td> {{b.servicio}}</td>
                  </tr>
                  <tr>
                    <td>Nombre De Actividad</td>
                    <td>{{b}}</td>
                  </tr>
                  <tr>
                    <td>Cupo De Actividad</td>
                    <td> {{b.Cupo_Actividad}}</td>
                  </tr>
                  <tr>
                    <td>Estado Actividad</td>
                    <td>{{b.Estado_actividad}}</td>
                  </tr>
                </tbody>
              </table>
            </div><!--/porlets-content-->
            <a href="{% url "actividad-editar" b.id %}" id="ggg-graphify-button-bar" >Editar</a>
            <a href="{% url "actividad-eliminar" b.id %}" id="ggg-graphify-button-linear" >Eliminar</a>
          </div><!--/block-web-->
        </div>
{% endblock %}
