{% extends "core/base_admin.html" %}
{% block contenido %}
  <section class="panel green_border horizontal_border_2">
    <div class="block-web">
      <div class="header">
        <h3 class="content-header">Editar Prefesor/ <b>{{a}}</b> </h3>
      </div>
        <form  action="" method="post">
          {% csrf_token %}
          {{ user_form.non_field_errors }}
        <ul><label > Nombre:</label></ul>
        <ul>{{ user_form.first_name}}</ul>
        {% if user_form.first_name.errors %}
          {% for error in user_form.first_name.errors %}
            <small class="error">
              {{ error|escape }}
            </small>
          {% endfor %}
        {% endif %}

        <ul><label > Apellido:</label></ul>
        <ul>{{ user_form.last_name}}</ul>
        {% if user_form.last_name.errors %}
          {% for error in user_form.last_name.errors %}
            <small class="error">
              {{ error|escape }}
            </small>
          {% endfor %}
        {% endif %}

        <ul><label > Email:</label></ul>
        <ul>{{ user_form.email}}</ul>
        {% if user_form.email.errors %}
          {% for error in user_form.email.errors %}
            <small class="error">
              {{ error|escape }}
            </small>
          {% endfor %}
        {% endif %}

        <ul><label > Nombre De Usuario:</label></ul>
        <ul>{{ user_form.username}}</ul>
        {% if user_form.username.errors %}
          {% for error in user_form.username.errors %}
            <small class="error">
              {{ error|escape }}
            </small>
          {% endfor %}
        {% endif %}

        <ul><label > Cupo Password:</label></ul>
        <ul>{{ user_form.password}}</ul>
        {% if user_form.password.errors %}
          {% for error in user_form.password.errors %}
            <small class="error">
              {{ error|escape }}
            </small>
          {% endfor %}
        {% endif %}

        <ul><label > Id Ucc:</label></ul>
        <ul>{{ profile_form.id_ucc}}</ul>
        {% if profile_form.id_ucc.errors %}
          {% for error in profile_form.id_ucc.errors %}
            <small class="error">
              {{ error|escape }}
            </small>
          {% endfor %}
        {% endif %}

        <ul><label > Identificación:</label></ul>
        <ul>{{ profile_form.Identificacion}}</ul>
        {% if profile_form.Identificacion.errors %}
          {% for error in profile_form.Identificacion.errors %}
            <small class="error">
              {{ error|escape }}
            </small>
          {% endfor %}
        {% endif %}

        <ul><label > Estado:</label></ul>
        <ul>{{ profile_form.estado}}</ul>
        {% if profile_form.estado.errors %}
          {% for error in profile_form.estado.errors %}
            <small class="error">
              {{ error|escape }}
            </small>
          {% endfor %}
        {% endif %}

            <ul><input type="submit" name="name" class="btn btn-primary" value="Guardar">
              <a href="{% url 'Lista-profesor' %}" class="btn btn-default navbar-btn">Cancelar</a></ul>
          </form>
  </div>
  </section>
{% endblock %}
