{% extends "core/base_admin.html" %}

{% block contenido %}
<section class="panel green_border horizontal_border_2">
  <div class="block-web">
    <div class="header">
      <h3 class="content-header">Añadir Nuevo Estudiante</h3>
    </div>
<form  action="" method="post">
  {% csrf_token %}
  <ul>Codigo </ul>
  <ul>{{form_estudiante.Codigo_estudiante}}</ul>
  <ul>Nombres</ul>
  <ul>{{form_estudiante.nombre}}</ul>
  <ul>Apellidos</ul>
  <ul>{{form_estudiante.apellidos}}</ul>
  <ul>Facultad</ul>
  <ul>{{form_estudiante.facultad}}</ul>
  <ul>Semestre</ul>
  <ul>{{form_estudiante.semestre}}</ul>
  <ul>Estado</ul>
  <ul>{{form_estudiante.Estado}}</ul>
  <ul>Horas</ul>
  <ul>{{form_estudiante.Horas_estudiante}}</ul>
  <ul>Telefono</ul>
  <ul>{{form_estudiante.telefono}}</ul>
  <ul>Correo</ul>
  <ul>{{form_estudiante.correo}}</ul>
  <ul>  <input class="btn btn-primary btn-lg" type="submit" name="name" value="Guardar">
    <a href="{% url 'actividades-lista' %}" class="btn btn-default navbar-btn">Cancelar</a>
  </ul>
</form>
</div>
</section>
{% endblock %}
