{% extends "core/base.html" %}


{% block contenido %}

<h1> Inscripciones  </h1>

<table class="table table-inverse">
  <thead>
    <tr>
      <th>ID</th>
      <th>Tipo de participacion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
  </tbody>
</table>
<br></br>
<button type="button" class="btn btn-primary btn-lg active">Agregar</button>
<button type="button" class="btn btn-default btn-lg active">Modificar</button>


{% endblock %}
