{% extends "core/base_admin.html" %}

{% block contenido %}
<section class="panel green_border horizontal_border_2">
  <div class="block-web">
    <div class="header">
      <h3 class="content-header">Añadir Nuevo Profesor</h3>
    </div>
    <form  action="" method="post">
      <br />
        {% csrf_token %}
        <ul>Nombre</ul>
        <ul>{{ user_form.first_name }}</ul>
        <ul>Apellido</ul>
        <ul>{{ user_form.last_name }}</ul>
        <ul>Correo Electronico</ul>
        <ul>{{ user_form.email }}</ul>
        <ul>Nombre De Usuario</ul>
        <ul>{{ user_form.username }}</ul>
        <ul>Contraseña</ul>
        <ul>{{ user_form.password }}</ul>
        <ul>Id Ucc</ul>
        <ul>{{ profile_form.id_ucc }}</ul>
        <ul>Documento De Identificacion</ul>
        <ul>{{ profile_form.Identificacion }}</ul>
        <ul>Estado</ul>
        <ul>{{ profile_form.estado }}</ul>

          <ul><input class="btn btn-primary" type="submit" name="name" value="Guardar">
        <a href="{% url 'Lista-profesor' %}" class="btn btn-default navbar-btn">Cancelar</a>
      </ul>
    </form>
  </div>
  </section>


{% endblock %}
