{% extends "core/base_admin.html" %}
{% block contenido %}
<div class="col-md-12">
          <div class="block-web">
            <div class="header">
              <h3 class="content-header">Detalle Programacion/ <b>{{b}}</b></h3>

            </div>
            <div class="porlets-content">
              <div style="float: right; margin-bottom: 10px">
                <label style="display: inline-block; margin-right: 50px">
              </div>
              <table id="user" class="table table-bordered table-striped" style="clear: both">
                <tbody>
                  <tr>
                    <td width="30%">Id</td>
                    <td width="65%"><a href="{% url "programacion-detalle" b.id %}">{{b.id}}</a></td>
                  </tr>
                  <tr>
                    <td>Servicio</td>
                    <td> {{b.Servicio}}</td>
                  </tr>
                  <tr>
                    <td>Actividad</td>
                    <td> {{b.actividad}}</td>
                  </tr>
                  <tr>
                    <td>Tipo De Participacion</td>
                    <td>{{b.TipodeParticipacion}}</td>
                  </tr>
                  <tr>
                    <td>Profesor</td>
                    <td> {{b.profesor}}</td>
                  </tr>
                  <tr>
                    <td>Lugar De Actividad</td>
                    <td> {{b.lugarActividad}}</td>
                  </tr>
                  <tr>
                    <td>Dias & Horario De Actividad</td>
                    <td> {% for j in b.Dia_semana.all %}
                          {{j.Dia_Actividad}}<a>-</a>{{j.Horario.Hora_Inicio}}<a>-</a>{{j.Horario.Hora_Final}}<a>,</a>
                          {% endfor %}</td>
                  </tr>
                  <tr>
                    <td>Fecha De Inicio De Actividad</td>
                    <td> {{b.Fecha_Inicio}}</td>
                  </tr>
                  <tr>
                    <td>Fecha De Cierre De Actividad</td>
                    <td>{{b.Fecha_Final}}</td>
                  </tr>
                </tbody>
              </table>
            </div><!--/porlets-content-->
            <a href="{% url "lugar-editar" b.id %}" id="ggg-graphify-button-bar" >Editar</a>
            <a href="{% url "programacion-eliminar" b.id %}" id="ggg-graphify-button-linear" >Eliminar</a>
          </div><!--/block-web-->
        </div>
{% endblock %}
