{% extends "core/base_admin.html" %}
{% block contenido %}
  <section class="panel green_border horizontal_border_2">
    <div class="block-web">
      <div class="header">
        <h3 class="content-header">Editar dia/ <b>{{a}}</b> </h3>
      </div>
        <form  action="" method="post">
          {% csrf_token %}
          {{ form.non_field_errors }}
        <ul><label > Dia:</label></ul>
        <ul>{{ form.Dia_Actividad}}</ul>
        {% if form.Dia_Actividad.errors %}
          {% for error in form.Dia_Actividad.errors %}
            <small class="error">
              {{ error|escape }}
            </small>
          {% endfor %}
        {% endif %}
        {{ form.non_field_errors }}
      <ul><label > Horario:</label></ul>
      <ul>{{ form.Horario}}</ul>
      {% if form.Horario.errors %}
        {% for error in form.Horario.errors %}
          <small class="error">
            {{ error|escape }}
          </small>
        {% endfor %}
      {% endif %}
            <ul><input type="submit" name="name" class="btn btn-primary" value="Guardar">
              <a href="{% url 'lugar-lista' %}" class="btn btn-default navbar-btn">Cancelar</a></ul>
          </form>
  </div>
  </section>
{% endblock %}
