{% extends "core/base.html" %}

{% block contenido %}

<!DOCTYPE html>
<html>
<head>

</head>

<body>
  <div class="text-left">
    <h2>Programar actividad</h2>
    <p>Aquí se especifica la programación de la actividad.</p>
  </div>
  <hr/>
  <table class="table table-inverse">
    <thead>
      <tr>
        <th>Id</th>
        <th>Horario</th>
        <th>Profesor</th>
        <th>Actividad</th>
        <th>Tipo de actividad</th>
    </tbody>
  </table>
</body>

<div class="button-right">
  <button type="button" class="btn btn-primary btn-lg active">Agregar</button>
  <button type="button" class="btn btn-default btn-lg active">Modificar</button>
</div>
</html>

{% endblock %}
