{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- core CSS -->
    <link href="{% static "assets/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "assets/css/animate.min.css"%}" rel="stylesheet">
    <link href="{% static "assets/css/prettyPhoto.css"%}" rel="stylesheet">
    <link href="{% static "assets/css/main.css"%}" rel="stylesheet">
    <link href="{% static "assets/css/responsive.css"%}" rel="stylesheet">
  </head>
  <body>
    <header id="header">
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img style="width: 100px"  class="logo-menu" src="{% static "assets/images/logo_menu.png" %}" alt="logo"></a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                      <li class="dropdown">
                          <a href="" class="dropdown-toggle" data-toggle="dropdown">Actividades<i class="fa fa-angle-down"></i></a>
                          <ul class="dropdown-menu">
                              <li><a href="">Lista Servicios</a></li>
                              <li><a href="">Nuevo Servicio</a></li>
                              <li><a href="">Lista Tipo Actividades</a></li>
                              <li><a href="">Nuevo Tipo Actividad</a></li>
                              <li><a href="">Lista Actividades</a></li>
                              <li><a href="">Nueva Actividad</a></li>
                          </ul>
                      </li>
                      <li class="dropdown">
                          <a href="" class="dropdown-toggle" data-toggle="dropdown">Profesores<i class="fa fa-angle-down"></i></a>
                          <ul class="dropdown-menu">
                              <li><a href="">Nuevo Profesor</a></li>
                              <li><a href="">Lista Profesores</a></li>

                          </ul>
                      </li>
                      <li class="dropdown">
                          <a href="" class="dropdown-toggle" data-toggle="dropdown">Programacion<i class="fa fa-angle-down"></i></a>
                          <ul class="dropdown-menu">
                              <li><a href="">Lista Horarios</a></li>
                              <li><a href="#">Nuevo Horario</a></li>
                              <li><a href="">Lista Dias</a></li>
                              <li><a href="">Nuevo Dia</a></li>
                              <li><a href="">Lista Lugares</a></li>
                              <li><a href="">Nuevo Lugar</a></li>
                              <li><a href="">Lista Programacion</a></li>
                              <li><a href="">Nueva Programacion</a></li>
                          </ul>
                      </li>
                        <li><a href="">Inscripcion</a></li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->

    </header><!--/header-->

    {% block contenido %}

    {% endblock %}
  </body>
</html>
