{% extends "core/base.html" %}
{% load static%}

{%block contenido %}
<section id="main-slider" class="no-margin">
    <div class="carousel slide">
        <div class="carousel-inner">

            <div class="item active" style="background-image: url({% static "assets/images/bg1.jpg" %})">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div style="opacity: 0.9" class="carousel-content">
                                <h1 style="color: #fff; background-color: #00b5cb; padding: 20px " class="animation animated-item-1">Bienvenido a Bienestar Universitario</h1>
                                <h2 class="animation animated-item-2"></h2>

                                <a style="background: #7ac142" class="btn-slide animation animated-item-3" href="/admin/">Ingresar</a>
                            </div>
                        </div>

                        <div class="col-sm-6 hidden-xs animation animated-item-4">
                            <div style="background: #112339; opacity: 0.9;" class="slider-img">
                                <img src="{% static "assets/images/img1.png"%}" class="img-responsive">
                            </div>
                        </div>

                    </div>
                </div>
            </div><!--/.item-->




        </div><!--/.carousel-inner-->
    </div><!--/.carousel-->
</section><!--/#main-slider-->
{% endblock %}
